@import '../../assets/colors';

.dropdown {
  position: relative;
  width: 10rem;
  height: 2.5rem;

  .label {
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    color: $gray;
    margin: 0 0 0.25rem 0.5rem;
  }

  .dropdown-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size: 1rem;
    font-weight: 400;

    background-color: $white;
    color: $black;

    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $gray;
    box-sizing: border-box;

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      margin-right: 0.5rem;
    }

    img {
      height: 1.5rem;
    }
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;

    padding: 0;
    margin: 1.5rem 0 0;

    width: 100%;
    max-height: 10rem;

    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    list-style-type: none;
    background-color: $dropdown-options;
    overflow-y: auto;
    z-index: 1000;

    .dropdown-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      color: $black;
      font-weight: 400;

      padding: 0.5rem;

      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-icon {
        width: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .dropdown-option:hover {
      background-color: $dropdown-hover;
    }
  }

  .dropdown-options::-webkit-scrollbar {
    width: 0.25rem;
  }

  .dropdown-options::-webkit-scrollbar-track {
    background: none;
  }

  .dropdown-options::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 0.25rem;
  }
}
