@import '../assets/colors';

.card {
  width: 24rem;
  padding: 2rem 4rem;
  border-radius: 2rem;

  background-color: $white;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .swap-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    gap: 4rem;

    .swap-icon {
      position: absolute;
      width: 1.5rem;
      top: 1.75rem;
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  button {
    width: 16rem;
    height: 2.5rem;
    border-radius: 0.5rem;

    border: none;
    cursor: pointer;

    font-size: 1rem;
    font-weight: 400;

    color: $white;
    background-color: $primary;
  }
}